/*
webfonts
--------------------------------------------------------
*/
@font-face {
	font-family: "nunito-sans";
	font-weight: 400;
	font-style: normal;
	src: local('Nunito Sans'),
			 url('fonts/nunitosans-regular.woff2') format('woff2'),
			 url('fonts/nunitosans-regular.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 400;
	font-style: italic;
	src: local('Nunito Sans'),
			 url('fonts/nunitosans-italic.woff2') format('woff2'),
			 url('fonts/nunitosans-italic.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 800;
	font-style: normal;
	src: local('Nunito Sans Extrabold'),
			 url('fonts/nunitosans-extrabold.woff2') format('woff2'),
			 url('fonts/nunitosans-extrabold.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: bold;
	font-style: normal;
	src: local('Nunito Sans Black'),
			 url('fonts/nunitosans-black.woff2') format('woff2'),
			 url('fonts/nunitosans-black.woff') format('woff');
}

@font-face {
	font-family: "source-code-pro";
	font-weight: 400;
	font-style: normal;
	src: local('Source Code Pro'),
			 url('fonts/sourcecodepro-regular.woff2') format('woff2'),
			 url('fonts/sourcecodepro-regular.woff') format('woff');
}

/* variables for styles, so we dont have to keep typing the same hex codes and sizes over and over! */

:root {
	--main_text_color: #2C2C2C;
	--light_accent_text_color: #818ceb;
	--med_accent_text_color: #606ee6;
	--dark_accent_text_color: #646AD8;
	--soft_text_color: #8C8C8C;
	--soft_border_color: #CCC;
	--bg_color_1: #FFF;
	--bg_color_2: #848EE6;
	--bg_color_3: #EBCCF0;
	--pink_color: #C11ADD;
	--button_color: #FFFF80;
	--button_shadow: #F2F240;
	--chill_button: #3646D9;
	--button_soft_shadow: #F4F4F4;
	--button_softest_shadow: #DDDDDD;
	--button_border_color: #666;
        --comfy_font_size: 26px;
}

/*
base styles
--------------------------------------------------------
*/
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Avenir Next", "nunito-sans", sans-serif;
	letter-spacing: 0.015em;
	color: var(--main_text_color);
	margin: 0;
	box-sizing: border-box;
	/* force grayscale antialiasing globally */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* enable kerning and ligatures globally */
	text-rendering: optimizeLegibility;
}


h1, h2, h3, p, li {
	font-family: Avenir Next, "nunito-sans", sans-serif;
}

h1 {
	font-weight: 900;
	letter-spacing: 0.53px;
}

h2 {
	color: var(--med_accent_text_color);
	letter-spacing: 0.68px;
}

h3 {
	color: var(--med_accent_text_color);
	font-weight: initial;
	font-family: "monaco", "source-code-pro", monospace;
	font-weight: initial;
}

p, li {
	font-size: 20px;
	text-align: left;
}


a {
	color: var(--dark_accent_text_color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--soft_border_color);
	border-radius: 2px;
}

input:disabled {
	color: var(--soft_border_color);
}

input[type="range"] {
	height: 0;
}

.button {
	background-color: var(--button_soft_shadow);
	outline: none;
}

.button:active {
	background-color: var(--button_softest_shadow);
}

.button:focus {
	border-color: var(--button_border_color);
}

/** main button styles **/
a.button {
	/** positioning **/
	position: relative;
	top: 0;
	margin-top: 0;
	margin-bottom: 10px;

	/** make a.button look pretty **/
	display: inline-block;
	text-align: center;
	padding: 10px 24px;
	min-width: 4em;
	background-color:	var(--button_color); /* Yellow */
	border: none;
	border-radius: 12px;
	cursor: pointer;
	opacity: 0.83;


	/** 3D Block Effect **/
	box-shadow: 0 10px 0 0 #F2F240;

	/* a.button text */
	font-size: 18px;
	font-weight: 900;
	color: #3646D9;
}

a.button:hover {
	opacity: 1;
	text-decoration: none;
}

a.button:active {
	/** Remove 3D Block Effect on Click **/
	box-shadow: none;
	top: 10px;
	margin-bottom: 0;
}

a.button:active,
a.button:focus {
	/** Remove Chrome's Ugly Yellow Outline **/
	outline: 0;
}

/* dotted button */

a.dotted {
	padding: 13px 25px;
	background-color: transparent;
	border-radius: 30px;
	border: 2px dashed rgba(255, 255, 255, 0.44);
	margin: 1em 0 0;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	color: #FFF;
}
a.dotted:hover {
	border: 2px dashed #fff;
	background-color: rgba(111, 123, 230, 0.62);
}

a.dark {
	color: var(--dark_accent_text_color);
	border-color: var(--dark_accent_text_color);
}


article {
	padding: 2em 2em 1em 2em;
	margin: auto;
        max-width: 960px;
        font-size: var(--comfy_font_size);
}

nav {
	/* positioning nav */
	position: absolute;
	width: 100%;
	left: 0;

	display: flex;
	justify-content: flex-end;
	margin-right: 3rem;

	background: white;

	--navPadding: 1em 2em;
}

nav a {
	color: #8c8c8c;
	font-size: 20px;
	font-weight: bold;
	padding: var(--navPadding);
}
nav a:hover {
	color: #666;
	text-decoration: none;
}

@media all and (max-width: 554px) {
	nav {
		justify-content: center;
	}
	nav a {
		/* type */
		--navPadding: 5%;
	}
}
