
/* splash section */
#splash {
  /* colors */
  --textDark: #2c2c2c;
  --compliment: #606ee6;
  --complimentDark: #646AD8;

  /* dimensions */
  --width: 66.55em;
  --space: 5em;


  /* type */
  /* we'll set font-size in px so that computing em values is straightforward */
  --alpha: 89px;
  --beta: 68px;
  --gamma: 36px;

	align-items: center;
	display: flex;
	justify-content: center;
	height: 90vh;
}

/* reduce font-size as viewport narrows */
@media all and (max-width: 980px) {
  #splash {
    /* type */
    --alpha: 80px;
    --beta: 66px;
    --gamma: 28px;
  }
}

@media all and (max-width: 660px) {
  #splash {
    /* type */
    --alpha: 62px;
    --beta: 39px;
    --gamma: 22px;
    --delta: 16px;
  }
}

@media all and (max-width: 375px) {
  #splash {
    /* type */
    --alpha: 32px;
    --beta: 29px;
    --gamma: 22px;
    --delta: 16px;
  }
}

#splash h1,
#splash h2,
#splash h3 {
  text-align: center;
}
#splash h1 {
  font-size: var(--alpha);
}
#splash h2 {
  font-size: var(--beta);
  color: var(--complimentDark);
  margin: 0.2em;
}
#splash h3 {
  font-size: var(--gamma);
  color: var(--compliment);
}
#splash p {
  font-family: "source-code-pro", monospace;
  font-size: 19px;
  text-align: center;
  color: var(--complimentDark);
}
#splash div :global(a):hover {
 text-decoration: none;
 }
.pink {
  color: #c11add;
}
.splash {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 950px;
  margin-top: 0em;
}
.splash-aligner {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.splash img {
  display: block;
  width: 100%;
}


/* values section */
#values {
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #848EE6;
	padding: 4em;
}

#values h1, #values h2 {
		text-align: center;
}

#values h1 {
	color: #FFF;
	font-size: 2rem;
	margin: 10px;
}
#values h2 {
	font-weight: initial;
	color: #fff;
	font-size: 2em;
	text-align: left;
}
#values h3 {
	text-align: center;
	color: #FFF;
	font-weight: bold;
	margin: 10px;
}
#values .row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	max-width: 80%;
}
#values .item {
	padding: 0 2em;
	vertical-align: middle;
}

@media all and (max-width: 980px) {
	#values .item {
		padding: 0 2em;
	}
}

@media all and (max-width: 660px) {
	#values .row {
		flex-direction: column;
	}
}

/* bulletin */
.bulletin {
	/* colors */
  --textDark: #2c2c2c;
  --compliment: #606ee6;
  --complimentDark: #646AD8;

	/* dimensions */
	--width: 66.55em;
	--space: 5em;

	/* type */
	/* we'll set font-size in px so that computing em values is straightforward */
	--alpha: 49px;
	--beta: 45px;
	--gamma: 35px;
	--delta: 20px;

	--lead: 1.178;
}

/* reduce font-size as viewport narrows */
@media all and (max-width: 980px) {
	.bulletin {
		/* type */
		--alpha: 40px;
		--beta: 36px;
		--gamma: 28px;
	}
}

@media all and (max-width: 660px) {
	.bulletin {
		/* type */
		--alpha: 32px;
		--beta: 29px;
		--gamma: 22px;
		--delta: 16px;
	}
}

/*
base
--------------------------------------------------------
*/
/* apply a natural box model to everything */
#proof-we-legit *,
#proof-we-legit *:before,
#proof-we-legit *:after {
	box-sizing: border-box;
}

#proof-we-legit h2,
#proof-we-legit h3,
#proof-we-legit h4 {
	line-height: 1.163;
	margin: 0;
}

#proof-we-legit h2 {
	font-size: var(--alpha);
	font-weight: 900;
	color: var(--textDark);
	margin-bottom: 0.857em;
}

#proof-we-legit h3 {
	font-family: "Avenir next", "nunito-sans", sans-serif;
	font-weight: 900;
	font-size: var(--beta);
	color: var(--compliment);
	margin-bottom: 0.933em;
}

#proof-we-legit p {
	margin: 0;
}

#proof-we-legit img {
	display: block;
	width: 100%;
}

#proof-we-legit a {
	transition: opacity 0.2s ease;
}

#proof-we-legit a:hover {
	opacity: 0.86;
}

/*
bulletin
--------------------------------------------------------
*/
.bulletin {
	/* include horizontal padding in overall width */
	max-width: calc(var(--width) + (var(--space) * 2));

	/* we establish the base font-size for the component here, which will be equal to 1em from here on */
	font-size: var(--delta);
	line-height: 1.35;
	color: var(--complimentDark);

	padding: 0 var(--space) 4em;
	margin: 0 auto;
}

/*
header
----------------------------
*/
.bulletin--header {
	text-align: center;
	padding-top: 6em;
	margin-bottom: 5.8em;
}

.bulletin--header p {
	font-family: "monaco", "source-code-pro", monospace;
	font-size: var(--gamma);
	color: var(--complimentDark);
	text-align: center;
}

@media all and (max-width: 980px) {
	.bulletin--header {
		margin-bottom: 5em;
	}
}

/*
grid
----------------------------
*/
.bulletin--grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@supports (display: grid) {
	.bulletin--grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 2.65em;
		grid-row-gap: 1.5em;
	}
}

.bulletin--item {
	width: calc((100% / 3) - (2.65em / 2));
	margin: 0;
}

	@supports (display: grid) {
		.bulletin--item {
			width: auto;
		}
	}

.bulletin--item a {
	display: block;
}

.bulletin--caption {
	padding-top: 1.1em;
}

.bulletin--caption p {
	font-family: "monaco", "source-code-pro", monospace;
	font-size: var(--delta);
	color: var(--complimentDark);
	margin-bottom: 1.35em;
}

@media all and (max-width: 980px) {
	.bulletin--item {
		width: calc((100% / 2) - (2.65em / 2));
	}

	@supports (display: grid) {
		.bulletin--grid {
			grid-template-columns: 1fr 1fr;
		}

		.bulletin--item {
			width: auto;
		}
	}
}

@media all and (max-width: 660px) {
	@supports (display: grid) {
		.bulletin--grid {
			display: block;
		}
	}

	.bulletin--item {
		width: auto;
	}

	.bulletin--item + .bulletin--item {
		padding-top: 1.5em;
	}
}

/* decentralized mini explainer */

#decentralised-mini-explainer {
    position: relative;
    background: #CDD7F4;
    font-family: "nunito-sans", sans-serif;
    padding: 2em 0 2em 2em;
}

.explainer {
  position: relative;
  padding-left: 2em;
  border-left: 10px solid white;
  width: 590px;
  max-width: 90%;
  margin-bottom: 2em;
}

#decentralised-mini-explainer h2 {
  color: #3F3F3F;
  margin-top: 0px;
  font-size: 2.8em;
  letter-spacing: 0.012em;
}

#decentralised-mini-explainer p {
  margin-bottom: 0px;
  font-size: 1.8em;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  color: #3F3F3F;
}
@media all and (max-width: 660px) {
  #decentralised-mini-explainer {
    font-size: 12px;
  }
  .explainer {
    width: 390px;
    border-left: 6px solid white;
    padding-left: 1em;
  }
}

.follows-graph {
  position: absolute;
  left: 50%;
  width: 50%;
  top: 0;
  overflow: hidden;
  height: 100%;
}

.follows-graph img {
  height: 100%;
  display: block;
}

/* quotes */

#quote {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		background: #EBCCF0;
		padding: 4em;
		font-family: "nunito-sans", sans-serif;
		color: #4D5B68;
}

#quote p {
	font-size: 25px;
	align-self: center;
}

#quote .quotes {
	color: #FFF;
	font-family: 'Times New Roman', sans serif;
	font-size: 9em;
	line-height: 86px;
	align-self: flex-start;
}
@media all and (max-width: 600px) {
	#quote {
		padding: 2em;
	}
	#quote span {
		display: none;
	}
}

.flex-end {
	align-self: flex-end;
}

/* contributors */

/*
constants
--------------------------------------------------------
*/
.bosun {
  /* colors */
  --text: #4d5b68;
  --textDark: #2c2c2c;
  --compliment: #606ee6;
  --complimentLight: #848EE6;

  /* dimensions */
  --width: 42.903em;
  --space: 2em;

  /* type */
  /* we'll set font-size in px so that computing em values is straightforward */
  --alpha: 45px;
  --beta: 36px;
  --gamma: 31px;

  --lead: 1.178;
}

/* reduce font-size as viewport narrows */
@media all and (max-width: 980px) {
  .bosun {
    /* type */
    --alpha: 36px;
    --beta: 29px;
    --gamma: 25px;
  }
}

@media all and (max-width: 660px) {
  .bosun {
    /* type */
    --alpha: 29px;
    --beta: 23px;
    --gamma: 20px;
  }
}

/*
base
--------------------------------------------------------
*/
/* apply a natural box model to everything */
#contributors *,
#contributors *:before,
#contributors *:after {
  box-sizing: border-box;
}

/* base heading styles */
#contributors h1,
#contributors h2,
#contributors h3,
#contributors h4 {
  font-weight: bold;
  text-align: left;
  line-height: var(--lead);
  margin: 0;
}

#contributors p {
  font-size: var(--gamma);
  margin: 0;
}

/* TODO understand this syntax */
#contributors :global(a):hover {
  text-decoration: none;
}

/*
bosun
--------------------------------------------------------
*/
/* a 'boatswain' or 'bosun' is the person on a boat who maintains and fixes things */
.bosun {
  /* include horizontal padding in overall width */
  max-width: calc(var(--width) + (var(--space) * 2));

  /* we establish the base font-size for the component here, which will be equal to 1em from here on */
  font-size: var(--gamma);
  line-height: 1.161;
  color: var(--text);

  padding: 0 var(--space);
  margin: 0 auto;
}

/*
header
----------------------------
*/
.bosun--header {
  display: flex;
  justify-content: space-between;

  /* we'll use relative units (em) for widths, padding, margins, etc, so that when we change font-size
     at various viewport widths, things remain in proportion */
  padding-top: 2.065em;
}

.bosun--mast {
  /* ask this element to take up all the horizontal space that bosun--note isn't using */
  flex: 2;

  padding-right: var(--space);
}

#contributors h2,
#contributors h3,
.bosun--note {
  font-size: var(--alpha);
  font-weight: bold;
}

#contributors h2 {
  color: var(--textDark);
  margin-bottom: 0.756em;
}

#contributors h3 {
  font-family: "Avenir next", "nunito-sans", sans-serif;
  color: var(--compliment);
  margin-bottom: 0.756em;
}

.bosun--note {
  width: 7.822em;
  font-weight: bold;
  line-height: var(--lead);
  color: #8f8f8f;
}

.bosun--note img {
  display: inline-block;
  vertical-align: middle;
  width: 3.022em;
  /* excuse me hermie, mind scooting over just a bit? */
  margin-left: -0.089em;
}

@media all and (max-width: 980px) {
  .bosun--header {
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  .bosun--mast {
    padding-right: 0;
  }

  #contributors h2,
  #contributors h3 {
    text-align: center;
  }

  .bosun--note {
    width: auto;
    margin-bottom: 0.756em;
  }
}

/*
content
----------------------------
*/
.bosun--content {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin-top: -1.548em;
}

.bosun--icon {
  width: 7.097em;
  margin-bottom: 0.839em;
}

.bosun--subhead {
  font-size: var(--alpha);
  font-weight: 900;
  color: var(--compliment);
}

.bosun--detail {
  font-size: var(--beta);
  font-weight: 900;
  line-height: 1.167;
  color: var(--complimentLight);

  margin-bottom: 0.75em;
}

@media all and (max-width: 1080px) {
  .bosun--content {
    margin-top: 0;
  }
}

@media all and (max-width: 980px) {
  .bosun--icon {
    margin-bottom: 1.226em;
  }
}

/*
footer
----------------------------
*/
.bosun--footer {
  text-align: center;
  padding-top: 1.548em;
  margin-bottom: 1.613em;
}

.bosun--footer p {
  text-align: center;
}

@media all and (max-width: 660px) {
  .bosun--footer {
    margin-bottom: 2.065em;
  }
}


/* ecosystem */

#ecosystem {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #848EE6;
	padding: 30px;
}

#ecosystem h1,
#ecosystem h2 {
	text-align: center;
}

#ecosystem h1 {
	font-size: 3rem;
}
#ecosystem h1 a {
	color: #FFFFFF;
}

#ecosystem h2 {
	font-family: "source-code-pro", monospace;
	font-size: 2rem;
	color: #FFFFFF;
}

#ecosystem h3 {
	font-family: "Avenir next", "nunito-sans", sans-serif;
	font-size: 1.5rem;
	color: #FFF;
}

#ecosystem ul {
	list-style-type: none;
	float: left;
	text-align: center;
	padding: 0 4em;
	max-width: 220px;
}

#ecosystem li {
	font-size: 20px;
	color: #2c2c2c;
	text-align: left;
}

.ecosystem-aligner {
	align-items: center;
}

.ecosystem {
		text-align: center;
}
