/* apply a natural box model to everything */
#research-publications *,
#research-publications *:before,
#research-publications *:after {
  box-sizing: border-box;
}

/* base heading styles */
#research-publications h1,
#research-publications h2,
#research-publications h3 {
  font-weight: bold;
  text-align: left;
  line-height: var(--lead);
  margin: 0;
}

#research-publications p {
  font-size: var(--gamma);
  margin: 0;
}

/* TODO understand this syntax */
#research-publications :global(a):hover {
  text-decoration: none;
}


/*
header
----------------------------
*/
#research-publications h2,
#research-publications h3 {
  font-size: var(--alpha);
  font-weight: bold;
}

#research-publications h2 {
  color: var(--textDark);
}

#research-publications h3 {
  font-family: "Avenir next", "nunito-sans", sans-serif;
  font-weight: normal;
  color: var(--compliment);
}

/*
content
----------------------------
*/
#research-publications .container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#research-publications .collection {
  width: 100%;
  padding: 0 1em 0 0;
}


@media all and (max-width: 660px) {
  #research-publications .container {
    flex-direction: column;
  }

  #research-publications .collection {
    flex: 1;
    padding: 0 0 0.5em 0;
  }
}

#research-publications h4 {
  margin: 0.5em 0 1.5em 0;
  font-weight: normal;
  font-size: calc(0.8*var(--gamma));
}

#research-publications .collection a {
  font-family: "monaco", "source-code-pro", monospace;
  color: var(--textDark);
  margin-bottom: 1em;
  display: block;
  font-size: calc(0.8*var(--gamma));
}

@media all and (max-width: 980px) {
}

/*
footer
----------------------------
*/
#research-publications .footer {
  text-align: center;
  padding-top: 1.548em;
  margin-bottom: 1.613em;
}

#research-publications .footer p {
  text-align: center;
}

@media all and (max-width: 660px) {
  #research-publications .footer {
    margin-bottom: 2.065em;
  }
}

